<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="http://res.cloudinary.com/danlau168/image/upload/v1445914511/imageedit_10_9797865688_nk3tiz.png" sizes="16x16">
  <link rel="icon" type="image/png" href="http://res.cloudinary.com/danlau168/image/upload/v1445914511/imageedit_10_9797865688_nk3tiz.png" sizes="32x32">

  <!-- for IE -->
  <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico" >
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico"/>
  <title>Fatebook</title>
   <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUB-MDiEeW0QSYRYhPM_-TZFsrsmA55G8">
 </script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
</head>
<body>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <%= error %>
    </div>
    <% end %>
  <% end %>

  <% if flash[:notices] %>
    <% flash[:notices].each do |notice| %>
    <div class="alert-message success">
      <a class="close" href="#">×</a>
      <%= notice %>
    </div>
    <% end %>
  <% end %>

  <% if current_user %>
    <script>window.CURRENT_USER_ID = <%= current_user.id %></script>
    <script>window.CURRENT_USER_USERNAME = "<%= current_user.username %>"</script>
    <script>window.CURRENT_USER_IMG= "<%= current_user.image_url %>"</script>
  <%end %>
<%= yield %>

</body>
</html>
