<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png" sizes="32x32">

  <!-- for IE -->
  <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico" >
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico"/>
  <title>Fatebook</title>
   <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>

</head>
<body>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <% if flash[:notices] %>
    <% flash[:notices].each do |notice| %>
    <div class="alert-message success">
      <a class="close" href="#">×</a>
      <p><%= notice %></p>
    </div>

    <% end %>
  <% end %>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUB-MDiEeW0QSYRYhPM_-TZFsrsmA55G8">
 </script>
  <% if current_user %>
    <script>window.CURRENT_USER_ID = <%= current_user.id %></script>
    <script>window.CURRENT_USER_USERNAME = "<%= current_user.username %>"</script>
    <script>window.CURRENT_USER_IMG= "<%= current_user.image_url %>"</script>
  <%end %>
<%= yield %>

</body>
</html>
